section {
  background: white;
  border: none;
  box-shadow: none;
}

body {
  background: none;
}

#banner {
  background: #000000;
  border: 1px solid black;
}

header {
  background: url(../images/cropped-steve-shreve.jpg) #020200; 
  background-position: right -140px;
  background-repeat: repeat-x;
  height: 120px;
  text-align: center;
}

#banner {
  top: 163px; 
  box-shadow: none;
}

nav {
  padding-top: 30px; 
}

.wrapper {
  padding-top: 30px; 
}

header p {
  text-shadow: 2px 1px 2px black;
  color: white; 
}

/* .myButton {
    background-color:#1b53b3 ;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #1840a3 ;
    display:inline-block;
    cursor:pointer;
    color:#ffffff ;
    font-family:Arial;
    font-size:19px;
    padding:12px 29px;
    text-decoration:none;
    text-shadow:0px 0px 0px #254a6b ;
}
.myButton:hover {
    background-color:#224a8f ;
}
.myButton:active {
    position:relative;
    top:1px;
}
*/


header h1 {
 font-family: Verdana, sans-serif;
}

/*
header p {
  color: #d8d8d8;
  text-shadow:rgba(#000, 0.2) 0 1px 0;
  font-size: 18px;
  margin: 0px;
}
*/

td.timespan {
  width:68pt;
}

td span.timespan {  
  font-size: smaller;
 }

ul.program-papers{
  font-size: small; 
  line-height: 130%;
  padding-left:9pt;
  margin-top:6pt;
}

ul.program-papers li {
  margin-top: 6pt;
}

.schedule strong{
  font-size: inherit;
  font-weight: bold;
  margin-top: 6pt;
}

aside {
  width: 230px;
  position: fixed;
  top: 220px;
  left:50%;
  margin-left:400px;
  text-align: left;

  padding-top: 380px;

}

aside p{ 
  margin-top:40px; 
}



@media print, screen and (max-width: 720px) {
  #banner {
    top: 100px; 
    box-shadow: none;
  }
  
  header {
    position: fixed;
  }
  
  section {
    top: 80px; 
  }

  td.timespan {
    width:38pt;
  }

}
