section {
  background: white;
  border: none;
  box-shadow: none;
}

body {
  background: none;
}

#banner {
  background: #000000;
  border: 1px solid black;
}

header {
  background: url(../images/cropped-steve-shreve.jpg) #ffffff; 
  height: 150px;
}

#banner {
  top: 163px; 
  box-shadow: none;
}

nav {
  padding-top: 50px; 
}

.wrapper {
  padding-top: 50px; 
}

/* .myButton {
    background-color:#1b53b3 ;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #1840a3 ;
    display:inline-block;
    cursor:pointer;
    color:#ffffff ;
    font-family:Arial;
    font-size:19px;
    padding:12px 29px;
    text-decoration:none;
    text-shadow:0px 0px 0px #254a6b ;
}
.myButton:hover {
    background-color:#224a8f ;
}
.myButton:active {
    position:relative;
    top:1px;
}
*/


/* header {
  padding: 25px 20px 40px 20px;
  margin: 0;
  position: fixed;
  top: 0;
  left:0;
  right:0;
  width: 100%;
  text-align: center;
  background: url(../images/background.png) #4276b6;
  box-shadow: 1px 0px 2px rgba(0,0,0,.75);
  z-index:70;
  -webkit-font-smoothing:antialiased;
  min-height: 76px;
}
*/

header h1 {
 font-family: Verdana, sans-serif;
 margin-left: 40px;
}

/*
header p {
  color: #d8d8d8;
  text-shadow:rgba(#000, 0.2) 0 1px 0;
  font-size: 18px;
  margin: 0px;
}
*/
