{% include header.html %}

  {% include banner.html %}

  <div class="wrapper">

    {% include page-nav.html %}

   <section>
      <p>This full day workshop explores Human Data Interaction challenges, specifically in information retrieval for data on the web. We want to stimulate an interdisciplinary discussion around opportunities to improve the discovery of structured and semi-structured data, independent of data formats and domain specific applications. We plan this to be the first of a series of similar workshops which bring together communities interested in making the web of data more discoverable, easier to search and more user friendly.</p>

      <h2>Objectives and Goals</h2>
      <p>The objective of this workshop is to bring together researchers and practitioners interested in the development of data search and dataset retrieval on the web. This includes looking at the specifics of data centric information seeking behaviour, understanding interaction challenges in data search on the web and the cognitive processes involved in the consumption of structured data by users.</p>

      <p>At the same time we aim to discuss technologies addressing data search – including semantics, information retrieval (ranking algorithms and indexing), in particular in the context of decentralised and distributed systems, such as the web. We want to facilitate a discussion around data search across formats and domain specific applications.</p>

      <p>We envision the workshop as a forum for researchers and practitioners to come together and discuss common challenges and identify synergies for joint initiatives.</p>
      
      <h2>Relevance, Timeliness and Importance</h2>

      <p>The increasing availability of data on the web, be that as Linked Data, or published in other structured or semi-structured formats, makes searching for data an increasingly important and timely topic. Data benefits from network effects: it becomes more useful and creates more value when it is discoverable. We know from previous research that despite advances in semantic web and data management, searching for data is far from providing a  user experience as we currently have when searching for documents. </p>
      <p>There are currently many initiatives aiming to improve data search on centralised platforms, such as data portals for open governmental data or scientific data portals. There is also an increasing interest in dataset retrieval as a research area as opposed to the retrieval of textual documents. The need for better discoverability of data is recognised by initiatives such as schema.org who have released a dataset specific vocabulary to mark up structured data on the web.</p>
      <p>Many approaches for creating more user-centred data search are domain specific and work only in certain contexts with certain schemas or with certain data formats.  Conducting research to explore dataset search outside these constraints in a general web scenario is both important and timely for a venue such as WWW. Therefore we aim to discuss all types of structured and semi-structured data and how concepts and lessons learned from web search could be transferred to a data centric context. </p>
      <p>The opportunities to establish connections between different types of data offered by semantic technologies are immense and can inform recommendation systems. We want to discuss how we could apply these principles in a wider context and create new pathways for the discovery of data on the web. We believe that we could use not only direct strong links between datasets or data items, but also weak links, as well as inference and data enrichment systems, to get more comprehensive coverage and relevant indexes of data published on the web. Techniques to accurately summarise data sets for consumption by humans as well as search engines are of interest in that context. We see a large space for discussion and future research in the development of federated data discovery technologies.</p>
      
      <h2>Audience</h2>
      <p>We welcome researchers coming from various disciplines, including, but not limited to, the Semantic Web community, Information Retrieval, Information Integration, Human Computer Interaction, Intelligent User Interfaces, Data visualisation, and further Data management and Information systems communities.</p>

      <h3>Topics and Themes </h3>
	<p>The workshop proposes a multidisciplinary discussion on the following themes, with the focus on RDF, CSV, JSON and other structured and semi-structured data sets:</p>
	<ul>
	<li>Dataset retrieval</li>
	<li>Data management</li>
	<li>Search results presentation for datasets</span></li>
	<li>Semantic search</li>
	<li>Data summarisation</li>
	<li>Data wrangling</li>
	<li><span style="font-weight:400;">Data exploration</li>
	<li>Automated approaches to data exploration</li>
	<li>Evaluation of dataset search tools and algorithms</li>
	<li>Data fusion and Information integration</li>
	<li>Human data interaction </li>
	<li>Information seeking behaviour</li>
	<li>Combining and integrating digital heterogeneous datasets</li>
	<li>Usability of data portals and data discovery tools</li>
	<li>Decentralized and distributed architectures and algorithms in data search</li>
	<li>Data retrieval in digital libraries</li>
	<li>Indexing, searching and profiling approaches</li>
	<li>Data quality metrics</li>
	<li>Approaches to personalisation in dataset search</li>
	</ul>
	<p>We are interested in contributions using a variety of methods. This can include e.g. user studies, lab experiments, system based evaluation, but also experiments using gamification and crowdsourcing.</p>

      </section>

	{{ content }}

{% include footer.html %}
